<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Visisting best website page!</title>
</head>
<body style="background-color: aqua;">
    <h1>These are popular websites!</h1><p>
    <h3>Google website</h3>
    <li><a href="https://www.google.com">GOOGLE</a></li><p>
    <h3>For entertainment you tube website</h3>
    <li><a href="https://www.youtube.com">YOUTUBE</a></li><p>
    <h3>For facing use facebook</h3>
    <li><a href="https://www.facebook.com">FACEBOOK</a></li>
    
</body>
</html>